body{
    background-color: #f3f2f2;
    margin-left: 50px;
    margin-right: 60px;
}
.header{

    padding-bottom: 30px;
    border-bottom: 5px solid black;
    border-radius: 2px;
}

.body-part{
    position: relative;
}

.menu{
    position: absolute;
    padding-right: 55px;
    border-right: 5px solid black;
    margin-top: 51px;
    
}

.menu-item{
    background: url(../tk/slidearrowright.png) no-repeat;
    
    align-items: center;
    border: 2px solid #808080;
    margin-top: 7px;
    border-radius: 15px ;
    height: 35px;
    width: 169px;
    /* transform: translateY(-50%); Center vertically */
    transition: background 0.8s ease, transform 0.8s ease;
}
.menu-item:hover{
    background: url(../tk/slidearrowleft.png) no-repeat right;
    transform: scale(1.1);
 /* Slightly scale up on hover */
    left: calc(100% - 30px);
}
.menu-item span{
    padding-left: 39px;
    margin-top: 25px;
    color: #808080;
    font-weight: 600;
 
}
.menu-item img{
    width: 31px;
    height: auto;
}

.info{
    margin-left: 255px;
    padding-right: 251px;
}
.line-img{
    margin-left: 255px;
    margin-top: 31px;
    margin-bottom: -19px;
}
.main-img img{
    float: left;
}

.footer{
    border: 12px solid #494949;
}